/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  box-sizing: border-box;
}

html {
  background-color: white;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1440px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  background-color: #fffef8;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black solid 1px;
}

.mainContainer {
  max-width: 1140px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

footer {
  background-color: white;
  width: 100%;
  font-size: 14px;
  font-weight: 300;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
}

header ul {
  width: 400px;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: inherit;
}

li:hover {
  font-weight: 700;
}
#introduction {
  display: flex;
  align-items: center;
  padding-left: 92px;
  padding-right: 92px;
  margin-top: 150px;
  margin-bottom: 150px;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 100%;
}

#introduction article {
  flex: 1;
  margin-left: 80px;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 92px;
  padding-right: 92px;
}

#portfolio .filtres {
  width: 585px;
  height: 37px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
}

button {
  border-radius: 60px;
  font-family: "Syne";
  font-size: 16px;
  font-weight: 700;
  border: #1d6154 solid 1px;
  min-width: 100px;
}

.nonClique {
  color: #1d6154;
  background-color: #fffef8;
}

.clique {
  color: white;
  background-color: #1d6154;
}

.buttonClicked {
  background-color: #1d6154;
  color: white;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

#logoInsta {
  height: 22px;
  width: 22px;
}

#error {
  display: none;
  color: red;
}

.modeEdition {
  width: 100%;
  height: 59px;
  background-color: black;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
}

.fa-regular {
  margin-right: 10px;
}

.mesProjets {
  display: flex;
  align-items: center;
}

.modifier {
  display: none;
  margin-left: 30px;
  margin-bottom: 30px;
}

.modifier button {
  border: none;
  background-color: #fffef8;
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

.modale1,
.modale2 {
  position: absolute;
  top: 660px;
  width: 630px;
  min-height: 688px;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.modale1-close,
.modale2-close {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.modale1-header h3,
.modale2-header h3 {
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  margin-top: 50px;
}

.modale1-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.modale1-body img {
  width: 100%;
}

.modale1-body figure {
  position: relative;
  width: 76px;
}

.modale1-body figure i {
  position: absolute;
  top: 6px;
  right: 6px;
  cursor: pointer;
  color: #ffffff;
  background-color: black;
  width: 17px;
  height: 17px;
}

.modale1-body figure i::before {
  position: inherit;
  top: 8px;
  right: 4px;
}

.modale1-footer {
  border-top: #b3b3b3 solid 1px;
  width: 420px;
}

.modale1-footer button {
  font-family: "Syne";
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  background-color: #1d6154;
  width: 237px;
  height: 36px;
  margin-top: 50px;
  margin-bottom: 50px;
  cursor: pointer;
}

.modale2-return {
  position: absolute;
  top: 16px;
  left: 16px;
  cursor: pointer;
}

.modale2-footer {
  border-top: #b3b3b3 solid 1px;
  width: 420px;
  margin-top: 50px;
}

.modale2-footer button {
  font-family: "Syne";
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  background-color: #1d6154;
  width: 237px;
  height: 36px;
  margin-top: 50px;
  margin-bottom: 50px;
  cursor: pointer;
}

.modale2-body button {
  font-family: "Syne";
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  background-color: #1d6154;
  width: 237px;
  height: 36px;
  margin-top: 50px;
  margin-bottom: 50px;
  cursor: pointer;
}

.modale2-body form {
  display: flex;
  flex-direction: column;
}

#title,
#category {
  width: 420px;
  height: 51px;
  filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.09));
  border: none;
}

.title,
.category {
  text-align: left;
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 500;
  color: #3d3d3d;
  margin-bottom: 5px;
}

.ajoutPhoto {
  background-color: #e8f1f6;
  width: 420px;
  height: 169px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-image {
  font-size: 76px;
  color: #b9c5cc;
  margin-right: 0;
  margin-top: 20px;
  margin-bottom: 10px;
}

.custom {
  width: 173px;
  border-radius: 50px;
  background-color: #cbd6dc;
  color: #306685;
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

#photo {
  display: none;
}

.ajoutPhoto p {
  font-family: "Work Sans";
  font-size: 10px;
  font-weight: 400;
}
